.container__todo {
  width: max-content;
  margin: 2rem auto;
  padding: 2rem;

  background-color: #344FA1;
  color: #FFF;
  text-shadow: 0 0.1rem 0.1rem rgba(10, 10, 10, 0.3);

  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.25rem rgba(10, 10, 10, 0.3);
}
